// #region *** SETTINGS ***
$primary-color: #3e2723;
$accent-color: #e67e22;
$bg-color: #fffaf0;
$font-hand: 'Patrick Hand', cursive;
$font-body: 'Outfit', sans-serif;
// #endregion

// #region *** ELEMENTS ***
body {
    background-color: $bg-color;
    font-family: $font-body;
    color: $primary-color;
}
// #endregion

// #region *** COMPONENTS ***
.c-card {
    background: white;
    border: 3px solid $primary-color;
    border-radius: 15px 50px 15px 50px / 50px 15px 50px 15px;
    box-shadow: 10px 10px 0px $primary-color;
}

.c-tabs__link {
    font-family: $font-hand;
    font-size: 1.3rem;
    color: $primary-color !important;
    border: 3px solid $primary-color !important;
    border-bottom: none !important;
    margin-right: 5px;
    border-radius: 10px 10px 0 0 !important;
    &.active {
        background-color: $accent-color !important;
        color: white !important;
    }
}

.c-input-hand {
    border: 2px solid $primary-color;
    border-radius: 10px;
    font-family: $font-hand;
    font-size: 1.1rem;
    &:focus { box-shadow: 4px 4px 0 $accent-color; border-color: $accent-color; }
}

.c-btn--handdrawn {
    background: $accent-color;
    color: white;
    border: 3px solid $primary-color;
    border-radius: 12px;
    font-family: $font-hand;
    font-size: 1.4rem;
    transition: 0.2s;
    &:hover { background: $primary-color; transform: translateY(-2px); color: white;}
}

.c-order-item {
    border-bottom: 2px dashed $primary-color;
    padding: 1.5rem 0;
    &:last-child { border-bottom: none; }
    &__room { font-family: $font-hand; font-size: 1.6rem; color: $accent-color; line-height: 1; }
}
// #endregion

.u-rotate-tiny { transform: rotate(-2deg); }